body {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin: 0;
}

.header-container {
  position: absolute;
  width: 100%;
}

.header {
  width: 100%;
  margin: 30px auto;
  padding: 20px 0;
  display: flex;
  background-color: #009fb7;
  color: white;
}

.header-left {
  width: 30%;
  flex-shrink: 0;
  padding: 0 20px;
  text-align: center;
}

.header-content {
  padding: 0 20px 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 2.2em;
  text-transform: uppercase;
}

p {
  margin: 5px 0;
}

.sub-header {
  font-size: 13px;
}

.container {
  display: flex;
}

.container > * {
  padding: 190px 20px 20px;
}

.left {
  background-color: #f0f0f0;
  width: 30%;
  flex-shrink: 0;
}

h3 {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  font-weight: 600;
  margin-top: 20px;
}

.skills {
  font-style: italic;
}

.skills span {
  font-style: normal;
  display: block;
  padding-left: 20px;
}

.info .material-icons {
  font-size: 9px;
  margin-right: 5px;
}

h4 span:last-child {
  font-weight: 500;
  font-style: italic;
}

.experiences .name {
  color: #c21616;
}

.right h4 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 9px;
  font-style: italic;
  text-align: right;
  position: absolute;
  width: 40px;
  margin-top: 2px;
}

.right p {
  margin-left: 50px;
}

.me {
  width: 120px;
  border-radius: 100%;
  border: 2px solid white;
}

h3 i {
  color: #009fb7;
  position: absolute;
  left: -35px;
}

h3 {
  margin-top: 30px;
  margin-bottom: 30px;
  position: relative;
  margin-left: 30px;
}

.right h3 i {
  padding: 10px;
  background: #e7fbfe;
  border-radius: 100%;
  left: -55px;
  top: -10px;
}

.right h3 {
  margin-left: 50px;
}
